:host {
  max-width: 40rem;
  ::ng-deep {
    .mat-mdc-checkbox .mdc-form-field {
        color: var(--mdc-theme-text-primary-on-background, rgba(255, 255, 255, 0.87));
    }
    .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
        border-color: rgba(255, 255, 255, 0.54);
    }
  }
  .creation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      letter-spacing: 0px;
      text-decoration: none;
      word-break: break-word;
      overflow-wrap: break-word;
      -webkit-font-smoothing: antialiased;
      font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
    }
    .controls {
      display: flex;
      flex-direction: row;
    }
    .presentation-definition {
      margin-top: 1rem;
    }
  }
  vc-button {
    width: 100%;
  }
}
