@use '/src/template' as temp;
:host {
  max-width: 40rem;
  ::ng-deep {
    .mat-expansion-panel {
      padding: 0 !important;
    }

  }
  .mb {
    margin-bottom: temp.$spaceBasic;
  }
  .creation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: temp.$body-height;
    overflow-y: auto;
    h3 {
      letter-spacing: 0px;
      text-decoration: none;
      word-break: break-word;
      overflow-wrap: break-word;
      -webkit-font-smoothing: antialiased;
      font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
    }
    .controls {
      display: flex;
      flex-direction: row;
    }
    .presentation-definition {
      margin-top: 1rem;
    }
  }
}
