<div class="bg-panel mb">
  <div class="creation">
    <h3>Select the information requested from the user</h3>
      <ng-container  *ngFor="let field of fields; index as idx; trackBy: trackByFn" >
        <div class="controls">
          <mat-checkbox (click)="handle(field)" color="primary">
            {{field.label}}
          </mat-checkbox>
        </div>
      </ng-container>
  </div>
</div>
<mat-expansion-panel class="presentation-definition bg-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Presentation definition
    </mat-panel-title>
  </mat-expansion-panel-header>
  <vc-editor [code]="definitionText"></vc-editor>
</mat-expansion-panel>
