@use '/src/template' as temp;
@use '/src//layout-breakpoint' as points;
:host {
  max-width: 40rem;
  ::ng-deep {
    .mat-expansion-panel {
      padding: 0 !important;
    }

  }
  .mb {
    margin-bottom: temp.$spaceBasic;
  }
  .creation {
    display: flex;
    flex-direction: column;
    height: temp.$body-height;
    overflow-y: auto;
    .creation-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      position: sticky;
      top: 0;
      z-index: 50;
      background: temp.$backgroundDefault;
      h3 {
        letter-spacing: 0px;
        text-decoration: none;
        word-break: break-word;
        overflow-wrap: break-word;
        -webkit-font-smoothing: antialiased;
        font-size: 16px;
        line-height: 20px;
        color: temp.$textDarkSecondary;
      }
      span {
        color: temp.$textDarkSecondary;
        padding-right: temp.$spaceBasic;
      }
    }
    .controls {
      display: flex;
      flex-direction: row;
    }
    .presentation-definition {
      margin-top: 1rem;
    }
  }

  @media (max-width: map-get(points.$breakpoints, xs)) and  (min-width: map-get(points.$breakpoints, sm)){
    .creation {
      width: temp.$body-width-xs;
      height: 24.25rem;
    }
  }
  @media (max-width: map-get(points.$breakpoints, sm)) {
    .creation {
      width: temp.$body-width-sm;
      height: 24.25rem;
    }
  }

}
