# http {
    include /etc/nginx/mime.types;
    server {
        listen 4300;
        server_name localhost;
        root /usr/share/nginx/html;
        index index.html;
        location / {
            try_files $uri $uri/ /index.html;
            sub_filter_types text/xml application/javascript text/javascript;
            sub_filter 'http://localhost:8080' $HOST_API;
            sub_filter_once on;
        }
    }
# }
