@use '/src/template' as temp;
@use "sass:map";

:host {
    vc-editor {
        max-height: temp.$max-body-height;
        max-width: temp.$max-body-width;
        min-height: temp.$min-body-height;
        min-width: temp.$min-body-height;
    }

    .vc-box-display-error p {
        color: map.get(map.get(temp.$palette, color), error);
        font-style: italic;
    }
}
