:host {
  .vc-verifiable-credential {
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: linear-gradient(90.09deg, rgb(204, 210, 220) 16.25%, rgb(218, 223, 232) 40.42%, rgb(218, 223, 232) 100%);
    border-radius: 16px;
    height: 640px;
  }
}
