@use '/src/template' as temp;
:host {
    .vc-container-editor {
        background-color: temp.$backgroundPaper;
        border-radius: 16px;
        height: temp.$body-height;
        max-width: inherit;
        min-height: inherit;
        min-width: inherit;
        overflow-y: auto;
        overflow-x: auto;
        padding: 16px;
        position: relative;
        width: temp.$body-width;

        textarea {
            height: 100%;
            resize: none;
            width: 100%;
        }
    }
}
