:host {
    .vc-container-editor {
        background-color: rgb(40 44 52);
        border-radius: 16px;
        height: inherit;
        max-width: inherit;
        min-height: inherit;
        min-width: inherit;
        overflow-y: scroll;
        padding: 16px;
        position: relative;
        width: 100%;

        textarea {
            height: 100%;
            resize: none;
            width: 100%;
        }
    }
}
