:host {
    .vc-container-editor {
        background-color: rgb(40 44 52);
        border-radius: 16px;
        height: 600px;
        min-height: 340px;
        min-width: 400px;
        overflow-y: scroll;
        padding: 16px;
        position: relative;

        textarea {
            height: 100%;
            resize: none;
            width: 100%;
        }
    }
}
