@use '/src/template' as temp;
@use '/src/layout-breakpoint' as points;

:host {
    align-items: center;
    border-bottom: 1px;
    border-color: map-get(map-get(map-get(temp.$palette, general), divider), dark);
    border-style: solid;
    border-top: none;
    display: flex;
    height: 5rem;
    width: inherit;

    img {
        cursor: pointer;
        left: temp.$left;
        padding: temp.$spaceBasic;
        position: relative;
    }
    @media (max-width: map-get(points.$breakpoints, xs)) and  (min-width: map-get(points.$breakpoints, sm)){
        img {
            left: 3%;
        }
    }
    @media (max-width: map-get(points.$breakpoints, sm)) {
        img {
            left: 3%;
        }
    }
    @media (max-width: map-get(points.$breakpoints, md)) and (min-width: map-get(points.$breakpoints, sm)){
        img {
            left: 15%;
        }
    }
}
