<h2 mat-dialog-title>{{ data.attestationName }}</h2>

<mat-dialog-content class="mat-typography">
  <div>
    <div>
      <div>
        Select attributes of the attestation to be included in the request
      </div>
      <ng-container
        *ngFor="let field of formFields; index as idx; trackBy: trackByFn"
      >
        <app-recursive-checkbox
          [field]="field"
          [isCheckedFn]="boundIsChecked"
          [handleFn]="boundHandle"
          [trackByFn]="boundTrackByFn"
        ></app-recursive-checkbox>
      </ng-container>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-stroked-button
    mat-dialog-close
    (click)="saveSelection()"
    [disabled]="!isSomethingSelected()"
    matBadge="{{ selectedFields.length }}"
    matBadgeHidden="{{ selectedFields.length === 0 }}"
    matBadgeColor="accent"
  >
    Select
  </button>
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>
