<mat-form-field>
  <mat-label>-- attributes by --</mat-label>
  <mat-select
    matNativeControl
    [(value)]="selectedMethod"
    [formControl]="methodControl"
    (selectionChange)="emitAttestationSelectionChanged()"
    >
    @for (method of attributeSelectionMethods; track method) {
      <mat-option [value]="method">{{ labelOf(method) }}</mat-option>
    }
  </mat-select>
  @if (methodControl.hasError('required')) {
    <mat-error
      >Please choose a method</mat-error
      >
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>-- format --</mat-label>
    <mat-select
      matNativeControl
      [(value)]="selectedFormat"
      [formControl]="formatControl"
      (selectionChange)="emitAttestationSelectionChanged()"
      >
      @for (format of supportedFormats; track format) {
        <mat-option [value]="format.key" disabled="{{ format.disabled }}">{{
          format.value
        }}</mat-option>
      }
    </mat-select>
    @if (formatControl.hasError('required')) {
      <mat-error
        >Please choose an format</mat-error
        >
      }
    </mat-form-field>
