:host {
    button {
        &:disabled {
            background: rgb(99 93 255 / 50%);
            cursor: none;
            opacity: 0.7;
            pointer-events: none;
        }

        background: rgb(99 93 255);
        border: 0;
        border-radius: 8px;
        color: rgb(255 255 255);
        cursor: pointer;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        height: 80px;
        letter-spacing: -0.01px;
        line-height: 24px;
        margin-top: 16px;
        transition: background 225ms ease-in-out 0s;
        user-select: none;
        width: inherit;

    }

}
