<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Authorization endpoint scheme: <strong> {{schemeValue}} </strong>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Scheme</mat-label>
      <input type="scheme" matInput [formControl]="schemeControl" [pattern]="schemePattern" [errorStateMatcher]="matcher" placeholder="https://">
        <mat-error *ngIf="schemeControl.hasError('scheme') && !schemeControl.hasError('required')">Please enter a valid scheme</mat-error>
        <mat-error *ngIf="schemeControl.hasError('required')">scheme is <strong>required</strong></mat-error>
    </mat-form-field>
  </form>
  <mat-action-row>
    <vc-button class="vc-button" name="Save" id="save" mode="none" [isDisabled]="schemeControl.invalid" color="primary" (clicked)="save()"></vc-button>
  </mat-action-row>
</mat-expansion-panel>
