@use '/src/template' as temp;
:host {
    .wrapper {
      background-color: map-get(map-get(map-get(temp.$palette, general), bg), default);
      padding: temp.$spaceBasic;
      border-radius: 16px;
    }
}
