<vc-layout>
  <h2 title>Create a Presentation Definition</h2>
  <div body class="container">
    <div class="vc-box-top">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="invalidJSON" class="vc-box-display-error">
      <p>Invalid JSON Format</p>
    </div>
    <div *ngIf="hideButton" class="vc-box-bottom">
      <vc-button name="Generate code" [mode]="buttonMode" [isDisabled]="!requestCode" color="primary" (clicked)="generateCode()"></vc-button>
    </div>
  </div>
</vc-layout>
