:host {
  .dialog-container {
    min-width: 50em;
    min-height: 25em;
    padding-top: 1em;
    .inspect-logs {
      margin-bottom: 1em;
    }
    .example-full-width {
      width: 100%;
    }
  }
}
