<div class="component-root">
  <ng-container *ngFor="let selection of attestationsSelection">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>{{ nameOf(selection.type) }}</mat-card-title>
        <mat-card-subtitle>
          in <i> {{ selection.format }} </i> format</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-actions align="end">
        <button
          *ngIf="isSelectable(selection)"
          mat-stroked-button
          matBadgeColor="accent"
          matBadge="{{ fieldsSelectedNo(selection) }}"
          [matBadgeHidden]="!canShowFieldsSelected(selection.type)"
          (click)="
            popAttributesSelector(
              selection.format!,
              selection.type,
              nameOf(selection.type)
            )
          "
        >
          Select Attributes
        </button>
        <button
          mat-button
          *ngIf="!isSelectable(selection)"
          matBadgeColor="accent"
          matBadge="{{ fieldsSelectedNo(selection) }}"
          [disabled]="true"
        >
          All Attributes selected
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
