<div class="component-root">
  <mat-accordion>
    @for (attestation of attestations; track attestation) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ attestation.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <vc-attestation-selection
          [attestation]="attestation"
          (attestationSelectionEvent)="handleAttestationSelectionEvent($event)"
        ></vc-attestation-selection>
      </mat-expansion-panel>
    }
  </mat-accordion>
</div>
