@use '/src/template' as temp;

:host {
  .container {
    max-width: temp.$max-body-panel;
    margin-top: 5rem;
  }
  .container {
    ::ng-deep {
      .mdc-tab {
        background: var(--background-paper) 0% 0% no-repeat padding-box;
        box-shadow: 0px -3px 6px #00000029;
        border-radius: 22px 22px 0px 0px;
        opacity: 1;
        margin-right: 5px;
      }
      .mdc-tab--active::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        background: #60E087 0% 0% no-repeat padding-box;
        opacity: 1;
        top: 17px;
        left: 9px;
        border-radius: 12px;
      }
      .mdc-tab--active {
        background: #FAFAFA 0% 0% no-repeat padding-box;
      }
      .mat-mdc-tab-body-wrapper {
        background: #FAFAFA 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 6px #00000029;
        border-radius: 0px 22px 22px 22px;
        opacity: 1;
        padding: 15px;
        min-width: 550px;
      }
      .mdc-tab-indicator {
        display: none;
      }
      .mat-mdc-tab-list {
        margin: 10px 0 -5px 0px;
        display: ruby;
      }
      .mdc-tab__text-label {
        color: #000000DE;
        font-weight: 500;
      }
      .mat-mdc-tab-ripple,
      .mdc-tab__ripple {
        border-radius: 22px 22px 0px 0px;
      }
      .mat-mdc-tab-labels:first-child {
        margin-left: 4px;
      }
    }
  }
}
