:host {
    .vc-verifiable-credential {
        align-items: center;
        background: linear-gradient(90.09deg, rgb(204 210 220) 16.25%, rgb(218 223 232) 40.42%, rgb(218 223 232) 100%);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        height: 640px;
        margin: 0 50px;
        position: relative;

        .body {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          padding-top: 58px;

            .qr-code {
              background: rgb(255, 255, 255);
              border-radius: 30px;
              -webkit-box-pack: center;
              display: flex;
              justify-content: center;
              padding: 15px;
              width: 100%;
              max-width: 565px;
              max-height: -moz-fit-content;
              max-height: fit-content;

                .cbor-show-result {
                  // margin-top: -64px;
                  h2 {
                    margin: 4px 2px;
                  }
                  vc-editor {
                    height: 464px;
                    min-width: 471px;
                    overflow-y: scroll;
                    overflow-x: scroll;
                  }

                }
            }

            .vc-obtain-container {
                display: flex;
                flex-direction: column;

                vc-button {
                    width: 256px;
                }
            }

            .vc-display-jwt {
                vc-editor {
                    display: inline;
                    height: 516px;
                    max-width: 562px;
                    min-height: 234px;
                    min-width: 400px;
                }
            }
        }

        &.view-json {
            background: linear-gradient(90.09deg, rgb(50 54 57) 16.25%, rgb(50 54 57) 40.42%, rgb(50 54 57) 100%);
        }
    }
}
