<div class="vc-verifiable-credential" [ngClass]="{'view-json': displayButtonJWTObject}">
  <div>
      <div *ngIf="!hasResult && isDesktop" class="qr-info" style="text-align: center">
        <p>Scan the QR code with your phone's camera app</p>
      </div>
      <div class="qr-code body" [ngClass]="{'green-bg': hasResult}">
        <div #qrCode id="qrcode"></div>
        <vc-presentations-results [results]="results" *ngIf="results"></vc-presentations-results>
      </div>
      <div *ngIf="!hasResult && isDesktop" class="qr-info" style="text-align: center">
        <p> - OR - </p>
      </div>
  </div>
  <div *ngIf="!hasResult">
    <a class="authorize" [href]="redirectUrl">AUTHENTICATE WITH WALLET</a>
  </div>
</div>
