@use '/src/template' as temp;
:host {
    .vc-verifiable-credential {
      align-items: center;
      display: flex;
      flex-direction: column;
      min-width: 25rem;

        .body {
          align-items: center;
          display: flex;
          flex-direction: row;
          justify-content: center;

            .qr-code {
              -webkit-box-pack: center;
              display: flex;
              justify-content: center;
              padding: temp.$spaceBasic;
              max-height: -moz-fit-content;
              height: fit-content;
              max-height: temp.$body-height;
              overflow-y: auto;
            }
            .qr-info {
              display: flex;
              flex-direction: column;
              justify-content: baseline;
              p {
                color: temp.$textDarkSecondary;
              }
              span {
                cursor: pointer;
                color: temp.$textDarkPrimary;
              }
            }
            // .vc-obtain-container {
            //     display: flex;
            //     flex-direction: column;

            //     vc-button {
            //         width: 256px;
            //     }
            // }
        }

        // &.view-json {
        //     background: linear-gradient(90.09deg, rgb(50 54 57) 16.25%, rgb(50 54 57) 40.42%, rgb(50 54 57) 100%);
        // }
    }
}
