<div class="controls">
  <mat-checkbox
    (click)="handleFn(field)"
    color="primary"
    [checked]="isCheckedFn(field.value)"
    [disabled]="field.alwaysDisclosed"
    >
    {{ field.label }}
  </mat-checkbox>

  @if (field.nested?.length) {
    <div class="nested-fields">
      @for (nestedField of field.nested; track trackByFn($index, nestedField)) {
        <app-recursive-checkbox
          [field]="nestedField"
          [isCheckedFn]="isCheckedFn"
          [handleFn]="handleFn"
          [trackByFn]="trackByFn"
        ></app-recursive-checkbox>
      }
    </div>
  }
</div>
