:host {

  .button-container {
    padding-top: 10px;
    text-align: end;

    button {
      margin: 8px 8px 8px 0;
    }
  }

  mat-step {
    div {
      display: block;
      padding: 2px;
    }
  }
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  padding: 0.5rem 0;
  gap: 0.5rem;

  a {
    text-decoration: none;
    color: #000;
  }
}

.btn-container-inactive {
  display: flex;
  flex-wrap: wrap;
  max-width: 480px;
  padding: 0.5rem 0;
  gap: 0.5rem;

  a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
  }
}

.btn {
  width: 120px;
  padding: 1rem;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 0.5rem;
  font-size: 12px;
  transition: 0.2s ease-in-out;

  &:hover {
    box-shadow: 1px 1px 4px #999;
    border: 1px solid #999;
  }
}

.btn-inactive {
  width: 120px;
  padding: 1rem;
  text-align: center;
  border: 1px solid rgba(238, 238, 238, 0.35);
  border-radius: 0.5rem;
  font-size: 12px;
}

.wizard-btn {
  height: 32px;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #fff;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    box-shadow: 1px 1px 4px #999;
    border: 1px solid #999;
  }
}

.reg-data-header {
  max-width: 480px;
}

.reg-data {
  padding-bottom: 10px;
}
