<vc-wallet-layout>
  <div body>
    <h4>Define your presentation request</h4>
    <p>
      Follow the steps to specify what will be requested from the wallet to present.
    </p>
    <mat-stepper orientation="vertical" linear #stepper>
      <form>
        <mat-step>
          <div>
            <ng-template matStepLabel>... select attestation(s)</ng-template>
            <vc-supported-attestations (selectionChangedEvent)="handleSelectionChangedEvent($event)"></vc-supported-attestations>
          </div>
          
          <div class="button-container">
            <button mat-raised-button matStepperNext [disabled]="!attestationsSelected()">Next</button>
          </div>
        
        </mat-step>

        <mat-step>
          <div>
            <ng-template matStepLabel>...select attestation(s) attributes</ng-template>
            <vc-attribute-selection *ngIf="selectedAttestations !== null"
                                    [attestationsSelection]="selectedAttestations"
                                    (attributesCollectedEvent)="handleAttributesCollectedEvent($event)"
            ></vc-attribute-selection>
          </div>
          <div class="button-container">
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext [disabled]="!attributesSelected()">Next</button>
          </div>
        </mat-step>

        <mat-step>
          <div style="padding-top: 10px">
            <ng-template matStepLabel>...select request options and submit</ng-template>
            
            <div class="config-option-container">
              <div class="config-option-label">
                Presentation Query Type
              </div>
              <mat-button-toggle-group [formControl]="queryTypeControl" 
                (valueChange)="handleQueryTypeChangedEvent($event)"  
                aria-label="Presentation query type" >
                <mat-button-toggle value="prex">Presentation Exchange</mat-button-toggle>
                <mat-button-toggle value="dcql">DCQL</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            
            <div class="config-option-container">
              <div class="config-option-label">
                Request URI Method
              </div>
              <mat-button-toggle-group [formControl]="requestUriMethodControl" 
                (valueChange)="handleRequestUriMethodChangedEvent($event)"  
                aria-label="Request URI Method" >
                <mat-button-toggle value="get">Get</mat-button-toggle>
                <mat-button-toggle value="post">Post</mat-button-toggle>
              </mat-button-toggle-group>
            </div>

            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title><span>Your presentation request so far...</span></mat-panel-title>
              </mat-expansion-panel-header>

              <button mat-button matTooltip="Copy content"  style="float: right"
                      *ngIf="canProceed()"
                      [cdkCopyToClipboard]="initializationRequest | json">
                <mat-icon>content_copy</mat-icon>
              </button>
              <span id="as-pre" *ngIf="canProceed()">{{ initializationRequest | json }}</span>

              <pre *ngIf="!canProceed()">..nothing prepared yet...</pre>
            </mat-expansion-panel>
          </div>
          <div class="button-container">
            <button mat-raised-button matStepperPrevious type="button">Back</button>
            <button mat-raised-button matStepperNext type="button" (click)="proceedToInvokeWallet()" [disabled]="!canProceed()">Next
            </button>
          </div>
        </mat-step>
      </form>
    </mat-stepper>

    <p>
      Or, if this doesn't work for you, go straight to defining your presentation request
      <a routerLink="/custom-request" routerLinkActive="active">here</a>
    </p>

  </div>
</vc-wallet-layout>
