<vc-wallet-layout>
  <div body>

    <h6 class="reg-data-header">
      Please provide us with information that will be used for reporting purposes
    </h6>

    <table class="reg-data">
      <tbody>
      <tr>
        <td><label for="reader-country">Reader country</label></td>
        <td><input type="text" id="reader-country" name="reader-country" [(ngModel)]="readerCountry" disabled="{{showStepper}}"/></td>
      </tr>
      <tr>
        <td><label for="reader-company-name">Reader company name</label></td>
        <td><input type="text" id="reader-company-name" name="reader-company-name" [(ngModel)]="readerCompanyName" disabled="{{showStepper}}"/></td>
      </tr>
      <tr>
        <td><label for="holder-tester-initials">Holder tester initials</label></td>
        <td><input type="text" id="holder-tester-initials" name="holder-tester-initials" [(ngModel)]="holderTesterInitials" disabled="{{showStepper}}"/></td>
      </tr>
      <tr>
        <td><label for="holder-device">Holder device</label></td>
        <td><input type="text" id="holder-device" name="holder-device" [(ngModel)]="holderDevice" disabled="{{showStepper}}"/></td>
      </tr>
      <tr>
        <td><label for="dataset">Dataset</label></td>
        <td><input type="text" id="dataset" name="dataset" [(ngModel)]="dataset" disabled="{{showStepper}}"/></td>
      </tr>
      <tr>
        <td><label for="test-scenario">Test scenario</label></td>
        <td>
          <select name="test-scenario" id="test-scenario" [(ngModel)]="testScenario" disabled="{{showStepper}}">
            <option value="">--Please choose an option--</option>
            <option value="PID">Pid</option>
            <option value="PIDMDL">PID + MDL</option>
            <option value="MDL">MDL</option>
            <option value="PartialMDL">Partial MDL</option>
            <option value="PartialMDLUnderage">Partial MDL Underage</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>

    <button class="wizard-btn" (click)="showStepper = !showStepper" [disabled]="!isRegistrationFormFilled()">Display wizard</button>
    <div class="container " [style.display]="showStepper ? 'block': 'none'">
      <h4>Define your presentation request</h4>
      <p>
        Follow the steps to specify what will be requested from the wallet to present.
      </p>
      <mat-stepper orientation="vertical" linear #stepper>
        <form>
          <mat-step>
            <div>
              <ng-template matStepLabel>... select attestation(s)</ng-template>
              <vc-supported-attestations
                (selectionChangedEvent)="handleSelectionChangedEvent($event)"></vc-supported-attestations>
            </div>
            <div class="button-container">
              <button mat-raised-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <div>
              <ng-template matStepLabel>...select attestation(s) attributes</ng-template>
              <vc-attribute-selection *ngIf="attestationsSelection !== null"
                [attestationsSelection]="attestationsSelection"
                (attributesCollectedEvent)="handleAttributesCollectedEvent($event)"></vc-attribute-selection>
            </div>
            <div class="button-container">
              <button mat-raised-button matStepperPrevious>Back</button>
              <button mat-raised-button matStepperNext>Next</button>
            </div>
          </mat-step>

          <mat-step>
            <div style="padding-top: 10px">
              <ng-template matStepLabel>...review and proceed</ng-template>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title><span>Your presentation request so far...</span></mat-panel-title>
                </mat-expansion-panel-header>
                <pre *ngIf="canProceed()">{{ initializationRequest | json }}</pre>
                <pre *ngIf="!canProceed()">..nothing prepared yet...</pre>
              </mat-expansion-panel>
            </div>
            <div class="button-container">
              <button mat-raised-button matStepperPrevious type="button">Back</button>
              <button mat-raised-button matStepperNext type="button" (click)="proceedToInvokeWallet()"
                [disabled]="!canProceed()">Next</button>
            </div>
          </mat-step>
        </form>
      </mat-stepper>
    </div>

    <div class="btn-container">
      <a *ngIf="isTestCaseActive('PID')" [routerLink]="['/custom-request', { type: 'PID' }]" routerLinkActive="active">
        <div class="btn">
          <a href="https://citybee.lt/en/">
            <img src="assets/logo.svg" alt="">
          </a>
          PID (mDoc)
        </div>
      </a>
      <a *ngIf="!isTestCaseActive('PID')">
        <div class="btn-inactive">
          <img src="assets/logo.svg" alt="">
          PID (mDoc)
        </div>
      </a>

      <a *ngIf="isTestCaseActive('PIDMDL')" [routerLink]="['/custom-request', { type: 'PIDMDL' }]" routerLinkActive="active">
        <div class="btn">
          <a href="https://citybee.lt/en/">
            <img src="assets/logo.svg" alt="">
          </a>
          PID (mDoc) + MDL (mDoc)
        </div>
      </a>
      <a *ngIf="!isTestCaseActive('PIDMDL')">
        <div class="btn-inactive">
          <img src="assets/logo.svg" alt="">
          PID (mDoc) + MDL (mDoc)
        </div>
      </a>

      <a *ngIf="isTestCaseActive('MDL')" [routerLink]="['/custom-request', { type: 'MDL' }]" routerLinkActive="active">
        <div class="btn">
          <a href="https://citybee.lt/en/">
            <img src="assets/logo.svg" alt="">
          </a>
          MDL (mDoc)
        </div>
      </a>
      <a *ngIf="!isTestCaseActive('MDL')">
        <div class="btn-inactive">
          <img src="assets/logo.svg" alt="">
          MDL (mDoc)
        </div>
      </a>

      <a *ngIf="isTestCaseActive('PartialMDL')" [routerLink]="['/custom-request', { type: 'PartialMDL' }]" routerLinkActive="active">
        <div class="btn">
          <a href="https://citybee.lt/en/">
            <img src="assets/logo.svg" alt="">
          </a>
          Partial MDL (mDoc)
        </div>
      </a>
      <a *ngIf="!isTestCaseActive('PartialMDL')">
        <div class="btn-inactive">
          <img src="assets/logo.svg" alt="">
          Partial MDL (mDoc)
        </div>
      </a>

      <a *ngIf="isTestCaseActive('PartialMDLUnderage')" [routerLink]="['/custom-request', { type: 'PartialMDLUnderage' }]" routerLinkActive="active">
        <div class="btn">
          <a href="https://citybee.lt/en/">
            <img src="assets/logo.svg" alt="">
          </a>
          Partial MDL Underage (mDoc)
        </div>
      </a>
      <a *ngIf="!isTestCaseActive('PartialMDLUnderage')">
        <div class="btn-inactive">
          <img src="assets/logo.svg" alt="">
          Partial MDL Underage (mDoc)
        </div>
      </a>
    </div>

  </div>
</vc-wallet-layout>
