@use '/src/template' as temp;

:host {
    .show-result {
        display: flex;
        flex-direction: row;
        width: 100%;

        h6 {
            color: temp.$textDarkSecondary;
            margin: 4px 2px;
        }

        .id-token {
            margin-right: 1rem;
        }
    }

    .request-meesage {
        padding: 1rem;
        border-radius: 8px;
        margin-right: auto;
        text-align: center;
    }

    .error {
        background-color: #f44336;
    }

    .success {
        background-color: limegreen;
    }
}
