<h2 mat-dialog-title>{{attestation.name}}</h2>

<mat-dialog-content class="mat-typography">
  <mat-tab-group>
    <mat-tab label="Attributes">
      <!-- Main attribute list -->
      <mat-list>
        @for (option of attestation.attributes; track trackByFn($index, option)) {
          <mat-list-item>
            <span matListItemTitle>
              <strong>{{option.key}}</strong>
            </span>
            <span matListItemLine style="display: flex">
              @if (isJson(option.value)) {
                <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: parseJson(option.value) }"></ng-container>
              } @else {
                <span [innerHTML]="option.value" style="display: flex; padding-top: 1em"></span>
              }
            </span>
          </mat-list-item>
          <mat-divider></mat-divider>
        }
      </mat-list>

      <!-- Recursive template for nested lists -->
      <ng-template #recursiveList let-value>
        <mat-list class="nested-list">
          @if (isObject(value)) {
            @for (item of objectToKeyValue(value); track trackByFn($index, item)) {
              <div class="nested-item">
                <div class="nested-key"><strong>{{item.key}}</strong></div>
                <div class="nested-value">
                  @if (isObject(item.value) || isArray(item.value)) {
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.value }"></ng-container>
                  }
                  @if (!isObject(item.value) && !isArray(item.value)) {
                    {{item.value}}
                  }
                </div>
              </div>
            }
          }
          @if (isArray(value)) {
            @for (item of value; track trackByFn(i, item); let i = $index) {
              <div class="nested-item">
                <div class="nested-key"><strong>[{{i}}]</strong>:</div>
                <div class="nested-value">
                  @if (isObject(item) || isArray(item)) {
                    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item }"></ng-container>
                  }
                  @if (!isObject(item) && !isArray(item)) {
                    {{item}}
                  }
                </div>
              </div>
            }
          }
        </mat-list>
      </ng-template>
    </mat-tab>

    @if (attestation.metadata && attestation.metadata.length > 0) {
      <mat-tab label="Metadata">
        <mat-list>
          @for (option of attestation.metadata; track option) {
            <mat-list-item>
              <span matListItemTitle>
                <strong>{{option.key}}</strong>
              </span>
              <span matListItemLine>
                <span [innerHTML]="option.value"></span>
              </span>
            </mat-list-item>
          }
        </mat-list>
      </mat-tab>
    }

  </mat-tab-group>

</mat-dialog-content>

<mat-dialog-actions  align="end">
  <button mat-stroked-button mat-dialog-close>Close</button>
</mat-dialog-actions>
