/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(0 0 0);
    color: rgb(255 255 255);
    font-family: Inter, sans-serif;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}

main {
    height: 100vh;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
}

.ͼe {
    color: #9af3b1 !important;
}

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; margin: 0; }

html, body { height: 100%; }
body { font-family: Roboto, "Helvetica Neue", sans-serif; margin: 0; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
