/* You can add global styles to this file, and also import other style files */
@use "sass:map";
@use 'template' as temp;
html {
  height: 100vh;
  width: 100vw;
}
body {
    background: map-get(map-get(map-get(temp.$palette, general), bg), paper);
    // color: rgb(255 255 255);
    height: inherit;
    overflow-x: hidden;
    width: inherit;
}

main {
    height: 100vh;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
}

.bg-panel {
  background-color: temp.$backgroundDefault;
  padding: 1.5rem;
  border-radius: 16px;
}
