/* You can add global styles to this file, and also import other style files */
@use 'template' as temp;
@use '/src/layout-breakpoint' as points;

html {
    height: 100vh;
    width: 100vw;
}

body {
    background: map-get(map-get(map-get(temp.$palette, general), bg), paper);
    height: inherit;
    overflow-x: hidden;
    width: inherit;
}

main {
    height: 100vh;
    margin: 0;
    overflow: hidden auto;
    padding: 0;
    width: 100vw;
}

.bg-panel {
    background-color: temp.$backgroundDefault;
    border-radius: 16px;
    padding: 1.5rem;
}
