name: CI
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:

permissions:
  contents: read

jobs:
  build-npm:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install
#      - name: Run tests
#        run: npm run test
      - name: Build
        run: npm run build






